@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .sidebar-icons {
        @apply relative flex items-center justify-center h-24 w-24 mt-16 mb-2 mx-auto shadow-lg bg-secondary
        hover:bg-orange-600 rounded-3xl hover:rounded-xl transition-all duration-300 cursor-pointer
    }

    .sidebar-iconhover {
        @apply absolute  w-40 h-9  mt-16 mx-auto  bg-primary
        rounded-lg flex items-center justify-center scale-0
    }

    .heroBackground{
        @apply bg-[url('./assets/image/scattered-forcefields.svg')] bg-cover bg-center relative
    }

    .moved {
        transform: translate(10px, 10px);
        transition:all
        
      }
    


}
